## Groupby practice

Import the pandas library and read in the sample data

In [1]:
import pandas as pd
df = pd.read_csv('sample_data.csv', index_col=0)

Inspect the dataframe and get basic statistical analysis usng pandas functions.

In [2]:
df.head()

,well,well_id,image_id,cell_line,condition,integrated_int_DAPI_norm,intensity_mean_EdU_nucleus_norm,cell_cycle_detailed,cell_cycle,label,...,integrated_int_DAPI,intensity_max_H2AX_nucleus,intensity_min_H2AX_nucleus,intensity_mean_H2AX_nucleus,intensity_max_p21_nucleus,intensity_min_p21_nucleus,intensity_mean_p21_nucleus,intensity_max_EdU_nucleus,intensity_min_EdU_nucleus,intensity_mean_EdU_nucleus
plate_id,,,,,,,,,,,,,,,,,,,,,
1759,B1,29669,822590,RPE-1,NT,3.375057,1.853456,G2/M,G2/M,8,...,980934.7268,9241.786107,5403.113170,7378.701837,7769.686951,4624.803085,6079.253931,718.794640,393.304511,136.819689
1759,B1,29669,822590,RPE-1,NT,1.815752,1.402923,G1,G1,9,...,527734.4621,13445.614030,5018.883895,6474.002461,4957.171514,4276.988808,4640.630580,652.895877,354.583072,103.561945
1759,B1,29669,822590,RPE-1,NT,1.687397,1.350449,G1,G1,10,...,490429.1661,5614.591021,4617.616697,5105.123318,4804.755005,4038.469233,4413.306399,542.013229,347.672750,99.688393
1759,B1,29669,822590,RPE-1,NT,1.550641,1.542069,G1,G1,11,...,450682.0565,8773.761802,4668.623592,5450.644205,4897.672867,4278.715733,4611.415671,509.604086,306.257894,113.833552
1759,B1,29669,822590,RPE-1,NT,3.352989,1.304256,G2/M,G2/M,12,...,974521.0238,7764.850037,5014.208358,6100.900468,5182.097672,4377.744680,4790.396597,617.126539,369.398198,96.278509

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 1759 to 1759
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   well                             67 non-null     object
 1   well_id                          67 non-null     int64
 2   image_id                         67 non-null     int64
 3   cell_line                        67 non-null     object
 4   condition                        67 non-null     object
 5   integrated_int_DAPI_norm         67 non-null     float64
 6   intensity_mean_EdU_nucleus_norm  67 non-null     float64
 7   cell_cycle_detailed              67 non-null     object
 8   cell_cycle                       67 non-null     object
 9   label                            67 non-null     int64
 10  area_nucleus                     67 non-null     int64
 11  intensity_max_DAPI_nucleus       67 non-null     float64
 12  intensity_min_DAPI_nucleus       67 non-null     float64
 13  intensity_mean_DAPI_nucleus      67 non-null     float64
 14  centroid-0                       67 non-null     float64
 15  centroid-1                       67 non-null     float64
 16  integrated_int_DAPI              67 non-null     float64
 17  intensity_max_H2AX_nucleus       67 non-null     float64
 18  intensity_min_H2AX_nucleus       67 non-null     float64
 19  intensity_mean_H2AX_nucleus      67 non-null     float64
 20  intensity_max_p21_nucleus        67 non-null     float64
 21  intensity_min_p21_nucleus        67 non-null     float64
 22  intensity_mean_p21_nucleus       67 non-null     float64
 23  intensity_max_EdU_nucleus        67 non-null     float64
 24  intensity_min_EdU_nucleus        67 non-null     float64
 25  intensity_mean_EdU_nucleus       67 non-null     float64
dtypes: float64(17), int64(4), object(5)
memory usage: 14.1+ KB

In [4]:
df.describe()

,well_id,image_id,integrated_int_DAPI_norm,intensity_mean_EdU_nucleus_norm,label,area_nucleus,intensity_max_DAPI_nucleus,intensity_min_DAPI_nucleus,intensity_mean_DAPI_nucleus,centroid-0,...,integrated_int_DAPI,intensity_max_H2AX_nucleus,intensity_min_H2AX_nucleus,intensity_mean_H2AX_nucleus,intensity_max_p21_nucleus,intensity_min_p21_nucleus,intensity_mean_p21_nucleus,intensity_max_EdU_nucleus,intensity_min_EdU_nucleus,intensity_mean_EdU_nucleus
count,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,...,6.700000e+01,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,29657.940299,822357.746269,2.543190,17.717719,158.000000,147.194030,7190.111439,2447.133559,5005.713534,456.978724,...,7.391589e+05,8337.878782,4801.745973,5969.827751,4933.017301,4080.745930,4490.799543,3484.184629,722.550336,1307.899090
std,9.441816,198.278144,0.953221,24.662259,116.970988,41.408255,1522.310657,370.064589,901.148578,361.501112,...,2.770465e+05,3674.445618,1041.055461,1991.147994,738.021777,314.291862,447.715601,4219.169070,585.591962,1820.536034
min,29650.000000,822191.000000,1.550641,0.664346,8.000000,78.000000,4699.634899,1727.187813,3449.941810,14.958333,...,4.506821e+05,4689.631742,3859.796138,4300.525637,4139.377405,3559.699024,3890.036679,435.209226,282.754516,49.041125
25%,29650.000000,822191.000000,1.834201,1.025507,24.500000,118.000000,6024.635087,2171.647717,4410.208459,38.165274,...,5.330965e+05,6223.118406,4224.834958,5090.663040,4433.017896,3798.224508,4147.678093,477.879486,320.779629,75.701602
50%,29650.000000,822191.000000,2.128992,1.417261,242.000000,139.000000,6936.030568,2484.489062,4873.882563,697.184397,...,6.187753e+05,7554.555344,4617.616697,5653.380392,4730.130490,3967.917819,4378.651203,555.653197,354.917144,104.620403
75%,29669.000000,822590.000000,3.320333,28.345228,258.500000,167.000000,8295.417454,2693.525355,5767.059607,775.791754,...,9.650296e+05,9441.841617,5069.747928,6465.793446,5206.601691,4358.548892,4762.648682,6141.704725,1128.504873,2092.408059
max,29669.000000,822590.000000,7.471396,88.858027,275.000000,296.000000,10973.043620,3399.882381,7336.165012,827.291139,...,2.171505e+06,29144.342860,11664.645250,19470.474700,8338.783145,4664.063640,6079.253931,13881.582130,2160.628475,6559.384543

Basic Grouping: Group the data by the cell type (assuming one of the columns represents this) and calculate the mean of the area_nucleus column for each group.

In [6]:
df.groupby('cell_line')['area_nucleus'].mean()

condition
NT    147.19403
Name: area_nucleus, dtype: float64

Advanced Grouping: Group the data by two categorical columns (e.g., cell type and condition) and calculate the sum of the area_nucleus column for each group.

In [10]:
grouped_df = df.groupby(['cell_line', 'cell_cycle'])['area_nucleus'].mean()
grouped_df

cell_line  cell_cycle
RPE-1      G1            116.310345
           G2/M          189.363636
           Polyploid     296.000000
           S             158.076923
Name: area_nucleus, dtype: float64

Aggregating Multiple Columns: Group the data by a categorical column and calculate the mean, sum, and standard deviation for different numerical columns within each group.

In [13]:
df.groupby(['cell_line', 'cell_cycle'])[['area_nucleus', 'integrated_int_DAPI']].agg(['mean', 'sum', 'std'])

                     area_nucleus                  integrated_int_DAPI  \
                             mean   sum        std                mean
cell_line cell_cycle
RPE-1     G1           116.310345  3373  18.120831        5.350516e+05
          G2/M         189.363636  2083  30.829443        1.034535e+06
          Polyploid    296.000000   296        NaN        2.171505e+06
          S            158.076923  4110  29.680867        7.867598e+05


                               sum            std
cell_line cell_cycle
RPE-1     G1          1.551650e+07   52224.068880
          G2/M        1.137989e+07   30609.100210
          Polyploid   2.171505e+06            NaN
          S           2.045575e+07  167535.001533

Per condition count the number of cells in the different cell cycle phases

In [14]:
df.groupby(['cell_line', 'cell_cycle'])['area_nucleus'].count()

cell_line  cell_cycle
RPE-1      G1            29
           G2/M          11
           Polyploid      1
           S             26
Name: area_nucleus, dtype: int64